/* Fontes que não são muito usadas no Projeto */
.font-1-xs{
  font: 400 0.75rem/1.35 'Poppins',sans-serif;
}
.font-1-s{
  font: 400 1rem/1.35 'Poppins',sans-serif;
}
.font-1-m {
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
}
.font-1-l {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}
@media (max-width: 800px) {
  .font-1-l{
    font-size: 1.5rem;
  }
}
/* Fontes que são muito usadas no Projeto */
/* Titulo Style */
.title{
  font: 400 4rem/1 'Poppins',sans-serif;
  color: var(--color-white);
  max-width: 15ch;
}
/* Subtitulo Style */
.subtitle{
  font: 600 2.5rem/1.1 'Poppins',sans-serif;
  max-width: 20ch;
}
/* Subtitulo Span Style */
.span-text{
  font: 400 1rem/1.5 "Roboto", sans-serif;
}
.span-title{
  font: 500 1.125rem/1.35 "Poppins", sans-serif;
}
/* Links Menu Style */
.links-menu{
  padding: 16px 0px;
  display: inline-block;
  position: relative;
  font: 500 1.125rem/1.35 "Poppins", sans-serif;
  text-transform: capitalize;
  color: var(--color-white);
}
.links-menu::after{
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: var(--color-yellow);
  margin-top: 4px;
  transition: .3s;
  position: absolute;
}
.links-menu:hover::after,
.links-menu.ativo::after{
  width: 100%;
}
.paragraph{
  font: 400 1.2rem/1.2 "Roboto", sans-serif;
  max-width: 48ch;
}
.text-info{
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}
@media (max-width: 1000px) {
  .title{
    font-size: 3.4rem;
  }
}