:root{

  --color-white:#F7F7F7;
  --color-light-gray:#D4D4D4;
  --color-gray:#595959;
  --color-black-1:#000000;
  --color-black-2:#111111;
  --color-yellow: #ffbb00;

}

.color-white{
  color: var(--color-white);
}
.color-light-gray{
  color: var(--color-light-gray);
}
.color-gray{
  color: var(--color-gray);
}
.color-black-1{
  color: var(--color-black-1);
}
.color-black-2{
  color: var(--color-black-2);
}
.color-yellow {
color: var(--color-yellow);
}

