/* Botões Config Global */
.btn{
  display: inline-block;
  padding: 8px 16px;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #2E2E2E;
  max-width: max-content;
  font: 600 1rem/1.3 'Poppins',sans-serif;
  border: none;
  cursor: pointer;
}

.btn:hover{
  background: linear-gradient(#ffb60d, #e59317);
}

.btn.secundario{
  background: #2E2E2E;
  color: var(--color-white);
}

.btn.secundario:hover{
  background: var(--color-gray);
}
.btn-seta{
  padding: 15px;
  border-radius: 50%;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid var(--color-black-1);
  color: var(--color-black-1);
}
.btn-seta:hover{
  border-color: var(--color-yellow);
  color: var(--color-yellow);
}
