.products-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}
.intro-products-bg{
  background-image: url('../../assets/images/desktop/background/bg-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro-products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
}
.products-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  padding: 20px;
  gap: 40px;
}

@media (max-width: 1200px){
  .products-list{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px){
  .products-list{
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Filter Button */
.products-filter-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}