.header-bg{
  background-color: var(--color-black-1);
}
.header{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.header-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.header-list{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 1100px) {
  .header-bg .container{
    padding: 20px 10px;
  }
  .header-list{
    display: none;
  }
  .header-menu{
    gap: 20px;
  }
}
